<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Wordy List</title>
  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css"> -->
</head>
<body>

  <script type='text/x-handlebars' data-template-name="words">
    <div>{{view Ember.TextField id="new-name" placeholder="Ecrivez le mot" valueBinding="newName" action="createWord"}}</div>
    <div>{{view Ember.TextField id="new_translation" placeholder="Traduction en anglais" valueBinding="newTranslation" action="createWord"}}</div>
    <div>{{view Ember.TextField id="new_tags" placeholder="ex. clothes,dressing" valueBinding="newTags" action="createWord"}}</div>
    <div>{{view Ember.TextField id="new_type" placeholder="ex. nm or vt or vr" valueBinding="newType" action="createWord"}}</div>
  </script>

  <script type="text/x-handlebars">
    <ul>
      <li>
        {{#linkTo "words" }} New word {{/linkTo}}
      </li>
    </ul>

     {{#if words.isLoaded}}
     <ul>
       {{#each word in words}}
        {{#linkTo "word" word}}
          <p> {{word.name}} </p>
        {{/linkTo}}
       {{/each}}
     </ul>
     {{else}}
     <p class="loading">...Loading words</p>
     {{/if}}

     <div class='well'>{{outlet}}</div>

  </script>

  <script type="text/x-handlebars" data-template-name="word">
    <div style='float:left; min-height: 300px;'>
    
    </div>
    <div style='width: 200px;float:left;margin: 0 20px;'>
    
      <h3>{{name}}</h3>
      <p> Def: {{translation}} </p>
      <p> Type: {{type}} </p>
      <p> Tags: {{tags}} </p>
    </div>
    
    <div style='float:left; min-height: 300px; margin: 10px;'>
    
    </div>
  </script>

  <script type="text/x-handlebars" id="editWord">
    <h2>Edit Word</h2>
    <form class="form-inline" {{action "save" on="submit"}}>

      <label>Term:
      
      {{view Ember.TextField valueBinding=name}}
      </label>
      
      <br/>
      <label>Definition:
      {{view Ember.TextField valueBinding=translation}}
      </label>
      

      <div>
        <button type='submit' class='btn'>Done</button>
      </div>
    </form>
  </script>

  <script src="javascripts/libs/jquery-1.9.1.js"></script>
  <script src="javascripts/libs/handlebars-1.0.0.js"></script>
  <script src="javascripts/libs/ember-1.0.0-rc.7.js"></script>
  <script src="javascripts/libs/ember-data-0.13.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/models/store.js"></script>
  <script src="javascripts/models/word.js"></script>
  <script src="javascripts/controllers/words_controller.js"></script>
  <script src="javascripts/controllers/word_controller.js"></script>
  <script src="javascripts/router.js"></script>
  

</body>
</html>